<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:cover {"overlayColor":"primary","isUserOverlayColor":true,"minHeight":150,"contentPosition":"bottom left","align":"wide","className":"is-constrained has-base-color rounded p-regular","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
		<div class="wp-block-cover alignwide has-custom-content-position is-position-bottom-left is-constrained has-base-color rounded p-regular has-link-color" style="min-height: 150px;">
			<span aria-hidden="true" class="wp-block-cover__background has-heading-background-color has-background-primary"></span>
			<div class="wp-block-cover__inner-container">
				<!-- wp:post-title {"level":1} /-->
			</div>
		</div>
		<!-- /wp:cover -->
	</div>
	<!-- /wp:group -->

	<!-- wp:spacer {"height":"var:preset|spacing|small"} -->
	<div style="height:var(--wp--preset--spacing--small)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->